<!DOCTYPE html>
<html lang="en"  >
<head>
    <#assign ctx="${requestContext.contextPath}"/>
    <link rel="shortcut icon" type="image/x-icon" href="${ctx}/images/demo.ico" />
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <script type="text/javascript" src="${ctx}/layui/layui.js" ></script>
    <link rel='stylesheet' href='${ctx}/layui/css/layui.css'>
    <script type="text/javascript" src="${ctx}/jq/jquery-3.4.1.js"></script>
</head>
<body>

</body>
</html>