<!DOCTYPE html>
<html lang="en"  >
<head>
    <#assign ctx="${requestContext.contextPath}"/>
    <link rel="shortcut icon" type="image/x-icon" href="${ctx}/images/demo.ico" />
    <meta charset="UTF-8">
    <title>首页</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <script type="text/javascript" src="${ctx}/layui/layui.js" ></script>
    <link rel='stylesheet' href='${ctx}/layui/css/layui.css'>
    <script type="text/javascript" src="${ctx}/jq/jquery-3.4.1.js"></script>
</head>
<style type="text/css">
    .layui-layout-body{overflow: auto;}
</style>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">XXXX业务管理平台</div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    贤心
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">退了</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black" style="position:absolute;height: 1080px">
        <div class="layui-side-scroll">
            <!-- 左侧垂直导航区域-->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item">
                    <a class="" href="javascript:;" >笑话</a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="javascript:;" data-id="1" data-title="笑话列表" data-url="${ctx}/jokeList"
                               class="site-demo-active" data-type="tabAdd">笑话列表</a></dd>
                        <!--<dd><a href="javascript:;" data-id="2" data-title="管理员日志" data-url="index.php?&a=adminLogList"
                               class="site-demo-active" data-type="tabAdd">管理员日志</a></dd>-->
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;" >图片列表</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;"  data-id="2" data-title="图片列表"
                               data-url="${ctx}/image/imageList" class="site-demo-active" data-type="tabAdd">图片列表</a>
                        </dd>
                        <dd><a href="javascript:;"  data-id="3"  data-title="图片信息流"
                               class="site-demo-active" data-url="${ctx}/imageFile/page"  data-type="tabAdd" >图片信息流</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;" >系统管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" data-id="4" data-title="笑话列表" data-url="https://www.baidu.com/"
                               class="site-demo-active" data-type="tabAdd">支付API设置</a></dd>
                        <dd><a href="javascript:;" >公告设置</a></dd>
                        <dd><a href="javascript:;" >控制台</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <!--tab标签-->
    <div class="layui-tab" lay-filter="demo" lay-allowclose="true" style="margin-left: 200px">
        <ul class="layui-tab-title"></ul>
        <div class="layui-tab-content"></div>
    </div>

    <div class="layui-footer" style="text-align:center;">
        ©XXXX业务管理平台
    </div>
</div>

<!--轮播图-->
<!--<div class="layui-row layui-col-space12" id="_content"  style="padding-top: 5%">
    <div class="layui-col-md1"></div>
    <div class="layui-col-md10">
        <div class="layui-carousel" id="test1">
            <div carousel-item="">
                <div><img src="${ctx}/images/Ghostknife/gk1.jpg"></div>
                <div><img src="${ctx}/images/Ghostknife/gk2.jpg"></div>
            </div>
        </div>
    </div>
    <div class="layui-col-md1"></div>
</div>-->
</body>
<script >
    layui.use(['table','laytpl','carousel','element'], function() {
            var $ = layui.$, admin = layui.admin,
                layer = layui.layer, form = layui.form,
                jquery = layui.jquery, table = layui.table,
                laytpl = layui.laytpl,carousel =layui.carousel,
                element = layui.element;

                //图片轮播测试
                carousel.render({
                    elem: '#test1'
                    ,width: '100%'
                    ,height: '440px'
                    ,full:true//是否全屏轮播
                    ,anim:'default'//轮播切换动画方式，可选值为：default（左右切换）updown（上下切换）fade（渐隐渐显切换）
                    ,autoplay:true//开启轮播
                    ,interval: 3000
                    ,index:0//初始开始的条目索引，默认0
                    ,arrow:'hover'//切换箭头默认显示状态，可选值为：hover（悬停显示）always（始终显示）none（始终不显示）
                    ,indicator:'inside'//指示器位置，可选值为：inside（容器内部）outside（容器外部）none（不显示）如果设定了 anim:'updown'，该参数将无效
                    ,trigger:'click'//指示器的触发事件,默认click
                });

        var $ = layui.$;
        // 配置tab实践在下面无法获取到菜单元素
        $('.site-demo-active').on('click', function () {
            var dataid = $(this);
            //这时会判断右侧.layui-tab-title属性下的有lay-id属性的li的数目，即已经打开的tab项数目
            if ($(".layui-tab-title li[lay-id]").length <= 0) {
                //如果比零小，则直接打开新的tab项
                active.tabAdd(dataid.attr("data-url"), dataid.attr("data-id"), dataid.attr("data-title"));
            } else {
                //否则判断该tab项是否以及存在
                var isData = false; //初始化一个标志，为false说明未打开该tab项 为true则说明已有
                $.each($(".layui-tab-title li[lay-id]"), function () {
                    //如果点击左侧菜单栏所传入的id 在右侧tab项中的lay-id属性可以找到，则说明该tab项已经打开
                    if ($(this).attr("lay-id") == dataid.attr("data-id")) {
                        isData = true;
                    }
                })
                if (isData == false) {
                    //标志为false 新增一个tab项
                    active.tabAdd(dataid.attr("data-url"), dataid.attr("data-id"), dataid.attr("data-title"));
                }
            }
            //最后不管是否新增tab，最后都转到要打开的选项页面上
            active.tabChange(dataid.attr("data-id"));
        });

        var active = {
            //在这里给active绑定几项事件，后面可通过active调用这些事件
            tabAdd: function (url, id, name) {
                //新增一个Tab项 传入三个参数，分别对应其标题，tab页面的地址，还有一个规定的id，是标签中data-id的属性值
                //关于tabAdd的方法所传入的参数可看layui的开发文档中基础方法部分
                element.tabAdd('demo', {
                    title: name,
                    content: '<iframe data-frameid="' + id + '" scrolling="auto" frameborder="0" src="' + url + '" style="width:100%;height:99%;"></iframe>',
                    id: id //规定好的id
                })
                FrameWH(); //计算ifram层的大小
            },
            tabChange: function (id) {
                //切换到指定Tab项
                element.tabChange('demo', id); //根据传入的id传入到指定的tab项
            },
            tabDelete: function (id) {
                element.tabDelete("demo", id);//删除
            }
        };
        function FrameWH() {
            var h = $(window).height();
            $("iframe").css("height",h+"px");
        }

    })
</script>

</html>