<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.joke.ImageMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.entity.joke.JokeImage">
    <!--@mbg.generated-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="pic_src" jdbcType="VARCHAR" property="picSrc" />
    <result column="flag" jdbcType="INTEGER" property="flag" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, title, pic_src, flag, user_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from image
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from image
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.demo.entity.joke.JokeImage">
    <!--@mbg.generated-->
    insert into image (id, title, pic_src, 
      flag, user_id)
    values (#{id,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{picSrc,jdbcType=VARCHAR}, 
      #{flag,jdbcType=INTEGER}, #{userId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.entity.joke.JokeImage">
    <!--@mbg.generated-->
    insert into image
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="picSrc != null">
        pic_src,
      </if>
      <if test="flag != null">
        flag,
      </if>
      <if test="userId != null">
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="picSrc != null">
        #{picSrc,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.entity.joke.JokeImage">
    <!--@mbg.generated-->
    update image
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="picSrc != null">
        pic_src = #{picSrc,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        flag = #{flag,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.entity.joke.JokeImage">
    <!--@mbg.generated-->
    update image
    set title = #{title,jdbcType=VARCHAR},
      pic_src = #{picSrc,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>


  <select id="selectPage" resultMap="BaseResultMap" parameterType="map">
    SELECT j.*
    FROM image j
    limit ${firstNum},${lastNum}
  </select>

  <select id="selectCount" parameterType="map" resultType="int">
        SELECT COUNT(1)
		FROM image
    </select>
</mapper>