<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.joke.JokeMapper">

    <resultMap id="jokeMap" type="com.example.demo.entity.joke.Joke">
        <result column="id" property="id" javaType="java.lang.Integer"/>
        <result column="content" property="content" javaType="java.lang.String"/>
    </resultMap>

    <select id="selectPage" resultType="com.example.demo.entity.joke.Joke" parameterType="map">
		SELECT j.*
		FROM joke j
		limit ${firstNum},${lastNum}
	</select>
    
    <select id="selectCount" parameterType="map" resultType="int">
        SELECT COUNT(1)
		FROM joke
    </select>
    
    <update id="updateById">
        UPDATE joke
        set content = #{content}
        where id = #{id}
    </update>
    
    <delete id="deleteById" parameterType="int">
        DELETE FROM joke
        WHERE id = #{id}
    </delete>
    
    <insert id="insertJoke"  useGeneratedKeys="true" keyProperty="id" parameterType="com.example.demo.entity.joke.Joke">
      INSERT INTO joke (content) VALUES (#{content})
    </insert>


    <select id="getOneRand" resultType="com.example.demo.entity.joke.Joke">
        <!--高效随机取一条数据-->
        SELECT
        q1.*
        FROM joke AS q1 JOIN
        (SELECT ROUND(RAND() * ((SELECT MAX(id) FROM joke)-
        (SELECT MIN(id) FROM joke))+(SELECT MIN(id) FROM joke)) AS id) AS q2
        WHERE q1.id >= q2.id
        ORDER BY q1.id LIMIT 1;
    </select>
</mapper>